/* NAME: vena ellison */


/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */


/* BASICS & VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
  --yellow: #F6D64A;
  --teal: #55BCD5;
  --purple: #9B26B0;
  --blue: #499BD2;
  --dark-gray: #222222;
  --light-gray: #EAEAEA;
  --white: #FFFFFF;
  --black: #000000;
}

h1, h2, h3 {
  font-family: 'Molle', cursive;
}

h4, p, q, small, nav, button, form {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  line-height: 2;
}

p, q, small, nav, button, form {
  font-size: 16px;
}


/* SKIPLINK */
#skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
   
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}


/* HEADER & NAV */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

header img {
  grid-column-start: 1;
  grid-row-start: 1;
}

nav {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-content: center;
}

header h1 {
  grid-column-start: 1 span;
  grid-row-start: 2;
}

header p {
  grid-column-start: 1 span;
  grid-row-start: 2;
  padding-top: 20px;
  text-align: left;
} 


/* SCREEN READER ONLY */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}


/* MAJORCA SECTION */
#intro {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

#intro h2, #intro p {
  width: 85%;
  margin: auto;
}

#img-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 15px;
}

/* #img-grid {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

#img-grid img, #img-grid picture {
  padding-top: 10px;
  padding-bottom: 10px;
}

#img-grid picture {
  width: 100%;
  height: auto;
  display: block;
} */


/* PLAN YOUR TRIP */
#plan {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#plan h3 {
  padding: 10px;
}

#plan div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
  padding: 20px;
}

#plan section {
  background-color: var(--teal);
  border: 2px solid white;
  border-radius: 10px;
  width: 250px; 
  height: 250px; 
  margin: auto; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#plan h4 {
  padding-bottom: 10px;
}

#plan img {
  width: 175px;
  height: 175px;
}


/* TESTIMONIALS */
#testimonials {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  padding: 20px;
}

#testimonials h3 {
  text-align: left;
}

#testimonials div {
  align-items: center;
  padding: 20px;
}

#testimonials section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#testimonials q {
  text-align: center;
}


/* DESTINATION */
#about {
  padding: 20px;
}

#about div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 85%;
}


/* CONTACT */
.required {
  color: var(--purple);
}

#contact {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
}

#names input {
  border: 2px var(--purple);
  padding: 20px;
}
